<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">
            <div>
                <a class="btn btn-primary btn-lg" ui-sref=".ngGoogleMap" ng-click="hc.setSessionStorage()" role="button">
					ngGoogleMap
				</a>
                <a class="btn btn-warning btn-lg" ui-sref=".register" ng-click="hc.getSessionStorage()" role="button">
					register
				</a>
            </div>
        </div>
    </div>
    <div ui-view></div>

</div>